#title {
    background-color: #ff464c;
    color: #fff;
}
.features{
    text-align: center;
    line-height: 1.5;
    padding-top: 10%;
}

/* h2{
    f;
} */

#press{
    background-color:#ff464c;
    /* padding: 5%; */

}

/* /* .press-logo3{
    width: 10%;
    margin-left: 50px; 
} */



.press-logo{
    width: 50%;
    margin-left: 90px; 
    margin-bottom: 50px;
}


#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff464c;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

i:hover{
    background-color: #ff464c;
}
.icon{
    color: #e87182;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* .icons{
    height: 20%;
    width: 20%;
} */

.h3{
    height: 1.5;
}
#features{
  padding: 7% 15%;
    background-color: #fff;

}

p{
    color: #8f8f8f;
    font-size: 0.8rem;
}
.kiu{
    font-size: 1.5rem;
}
/* .testimonial-img{
    width: ;
} */
h1,.op{
    font-family: 'Montserrat-ExtraBold-800', sans-serif;
    size: 5rem;
    line-height: 1.5;
    font-weight: 900;
    color: whitesmoke;
}

.h2{
    size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
}



.download-button{
    margin: 5% 3% 5% 0;
}

.iphone {
    transform: rotate(20deg);
    /* height: 60%;
    font-weight: 60%;
    padding-left: 70px;
    padding-top: 50px; */
    width:60%;
    padding-left: 30px
    
}

.md-12 {
    padding-top: 20px;
}

body{
    font-family: "Montserrat";
}
.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding: 0 18px ;
}

.nav-link{
    font-size: 1.2rem;
    /* font-family: "Montserrat-Light"; */

}

.joke{
    padding-top: 10%;
}

#pricing{

    text-align: center;
    
}

.header{
    margin-top: 100px;
}

.pol{
    margin-left: 90px;
}

.iol{
    margin-left: 60px;
}

.uil{
    margin-left: 50px;
    margin-right: 20px;
}

#cta{
    background-color: #ff464c;
    text-align: center;
    padding: 15% 7% 8%;
}

.no{
    padding-top: 20px;
}
#footer{
    text-align: center;
    padding: 20px;
}

.a,.b,.c,.d{
    margin-left: 30px;
}
.ouk{
    padding-left: 30px;
}
